<div class="card border-primary mb-3">
  <div class="card-header">
Clientes
  </div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes</h5>

    <div>
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']" >Crear cliente</button>
    </div>

    <div *ngIf="clientes?.length === 0" class="alert alert-info">
      No hay registros en la base de datos
    </div>

    <table class="table table-bordered table-stripped text-center" *ngIf="clientes?.length>0">
      <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>Fecha</th>
      </tr>

      </thead>


      <tbody>
      <tr *ngFor="let cliente of clientes">
        <td>{{ cliente.id }}</td>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.apellido}}</td>
        <td>{{cliente.email}}</td>
        <td>{{cliente.createAt | date: "EEEE dd, MMMM-yyyy"}}</td>
        <td>
          <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form', cliente.id]" >editar cliente</button>
        </td>
        <td>
          <button class="btn btn-rounded btn-danger" type="button" name="eliminar" (click)="delete(cliente)" >eliminar cliente</button>
        </td>
      </tr>

      </tbody>

    </table>
<!--    INYECC DE DEPENDENCIAS DESDE paginator.component.ts-->
    <paginator-nav *ngIf="paginador" [paginador]=" paginador"></paginator-nav>

  </div>
</div>
